.login-container {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 100px auto;
  padding: 24px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.login-heading{
  text-align: center;
  margin-bottom: 20px;
  color: #067e70;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  align-items: center;
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  width: 50%;
  padding: 10px;
  background-color: #067e70;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
  font-size: 16px;
}
