.task-form {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #7e0606; 
  font-style: italic;
  margin: 50px;

}

.task-form input,
.select-container {
  width: 50%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.add-task-button {
  width: 40%;
  padding: 15px;
  background-color: #067e54;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
