.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
.admin-heading {
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  font-style: italic;
}
.logout-button {
  background-color: #efd844;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.task-title {
  font-size: 24px;
  margin: 0;
}

.user-heading {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  color: #333;
}
.Task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000000;
  color: #111827;
}
.Task-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

.user-heading {
  margin-left: 20px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
